name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  release:
    name: Version and Changelog
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      deployments: write
      statuses: write
      

    steps:
    - uses: actions/checkout@v5
    - name: Set up Node.js
      uses: actions/setup-node@v5
      with:
        node-version: "20.x"
    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        path: node_modules
        key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-modules-
    - name: Install semver management dependencies
      run: npm ci
    - name: Run Semantic Release
      run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  build:
    name: Docker Image Build
    runs-on: ubuntu-latest
    needs: [release]
    
    steps:
    - name: Check Out
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Get version tag
      id: get_tag
      run: echo "tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
    - name: Set lowercase repository
      id: repo_lower
      run: echo "repo=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/${{ steps.repo_lower.outputs.repo }}:${{ steps.get_tag.outputs.tag }}

    - name: Login to ghcr.io
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Push Docker image to GHCR
      run: docker push ghcr.io/${{ steps.repo_lower.outputs.repo }}:${{ steps.get_tag.outputs.tag }}
    - name: Logout from ghcr.io
      run: docker logout ghcr.io